{% extends 'base.html' %}


{% block contenido %}
<h2>Todos los datos cargados</h2>

<form method="get">
    <input type="text" name="buscar" placeholder="Buscar en toda la base" value="{{ query }}">
    <button type="submit">Buscar</button>
</form>

<hr>

<h3>Libros</h3>
<ul>
    {% for libro in libros %}
        <li>
        <strong>{{ libro.titulo }}</strong> – {{ libro.autor }}
        <br>
        Publicado el {{ libro.fecha_publicacion|date:"d/m/Y" }} – Puntuación: {{ libro.puntuacion }}
        </li>
    {% empty %}
        <li>No hay libros cargados.</li>
    {% endfor %}
</ul>

<h3>Películas</h3>
<ul>
    {% for pelicula in peliculas %}
        <li>
        <strong>{{ pelicula.titulo }}</strong> – Dirigida por {{ pelicula.director }}
        <br>
        Estreno: {{ pelicula.fecha_estreno|date:"d/m/Y" }} – Puntuación: {{ pelicula.puntuacion }}
        </li>
    {% empty %}
        <li>No hay películas cargadas.</li>
    {% endfor %}
</ul>

<h3>Conciertos</h3>
<ul>
    {% for concierto in conciertos %}
        <li>
        <strong>{{ concierto.banda }}</strong> – {{ concierto.ciudad }}
        <br>
        Fecha del evento: {{ concierto.fecha_evento|date:"d/m/Y" }} – Puntuación: {{ concierto.puntuacion }}
        </li>
    {% empty %}
        <li>No hay conciertos cargados.</li>
    {% endfor %}
</ul>
{% endblock %}
